// **************************************
// BUTTON STYLES
// **************************************

//button styles for project card overlay
.btn__overlay{
    text-align: center;
    @extend %btn-properties;
    transition: background .4s ease-in;
    &:hover{
        background: $color-main;
        text-decoration: none;
        color: $white;
    }
    @include mq ('md'){
        width: 40%;
    }
}

.btn__overlay:nth-child(1) {
    @include mq ('md'){
        width: 100%;
    }  
}

.btn__title{
    margin-top: 1em;
    width: 80%;
    @include mq ('md'){
        width: 35%;
    }
    @include mq ('lg'){
        width: 30%;
    }
}

