// **************************************
// CAROUSEL PORTFOLIO SECTION STYLES
// **************************************

/*------- (Carousel) Section Class Styles----------*/

.carousel__container {
    width: 100%; 
    z-index: 0;
  }
  
  div#n2-ss-3 .n2-ss-slider-3{
    padding-top: 0px;
  }