// **************************************
// HEADER STYLES
// **************************************

.header__container{
  @include flex_me($vertAlign:center, $just:center, $wrap:wrap);
  position: relative;
  width: 100%;
}

/*---Container is the header bar that holds the nav menu & resume container --*/
.header__bar--container{
  width: 100%;
  height: 80px;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 5;
  @include flex_me($just:space-between, $vertAlign:center);
  transition: background .6s ease-out;
  border-bottom: 2px inset $color-main-darkest;
  box-shadow: 0 8px 7px -3px $white;
}

.header__btn--menu{
  margin-left: 1.5em;
  cursor: pointer;
}

/*-Styles to start Creating the hamburger lines for the menu-*/
div.menu__bar {
  width: 35px;
  height: 4px;
  background-color: $white;
  margin: 6px 0;
}


/*-Styles for resume button container in header bar-*/
.header__btn--resume{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5em;
  outline: none;
  border: 1px solid $white;
  color: $white;
  border-radius: 20px 10px 20px;
  transition: background .4s ease-in-out;
  &:hover{
    background: $white;
    border-radius: 20px 10px 20px;
    color: $color-accent
  }
}

/*-Styles for resume button link in header bar (a tag nested within btn tag)-*/
.link--resume{
  font-family: 'Lato';
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  transition: color .4s ease-in-out;
  letter-spacing: 1px;
  &:hover{
    color: $color-accent;
    text-decoration: none;
  }
}

.header__title--container{
  @include flex_me($vertAlign:center, $dir:column);
  position: absolute;
  margin-top: 10em;
  @include mq ('md'){
    margin-top: 12em;
  }
  @include mq ('lg'){
    margin-top: 16em;
  }
}


/*---styles for header bar on scroll --*/
div#my-hdr-bar.header__bar--container.onscroll{
  background: $white;
  transition: background .6s ease;
  box-shadow: 0 8px 7px -3px $color-main-dark;
}

/*---smooth transition style for hamburger menu, resume container and resume link on scroll --*/
a#resume__mobile.link--resume.onscroll-text,
div.header__btn--resume.onscroll-text,
div.menu__bar.onscroll-text{
  transition: background .6s ease;
}


a#resume__mobile.link--resume.onscroll-text,
div.header__btn--resume.onscroll-text{
  color: $color-main-darkest;
}

/*---styles for resume border outline on scroll --*/
div.header__btn--resume.onscroll-text{
  border: 1px solid $color-main-darkest;
  border-radius: 20px 10px 20px;
  &:hover{
    background-color: $color-main-darkest;
  }
}

/*---styles for when user hovers over resume on scroll link---*/
a#resume__mobile.link--resume.onscroll-text{
  &:hover{
    color: $white;
    text-decoration: none;
  }
}

/*---styles for hamburger menu on scroll----*/
div.menu__bar.onscroll-text{
  background-color: $color-main-darkest;
}
