// **************************************
// IMAGE STYLES
// **************************************

.img__banner--container{
    height: 400px;
    filter: drop-shadow(8px 8px 10px gray);
    @include flex_me($just:center);
    @include mq ('lg'){
        height: 650px;
    }
}

.img__header--container{
    height: $header-height;
    width: 100%;
    background-position: center;
    background-size: cover;
    @include flex_me($just: center);
}

//My Bio Picture (with the glasses)
.img__bio{
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
    @include mq('md'){
        height: 250px;
    }
}

// Containter that holds the SVG skill icons
.img__skill--container{
    width: 100px;
    @include flex_me($dir:column, $vertAlign:center);
    max-height: 150px;
}

//color for the SVG icons
.skill-icons{
    fill: white;
    color: white;
}

//Avatar image styling for reviews 
.img__person{
    @include roundy($dim:150px, $border: 1px solid $color-border-dark);
    z-index: 2; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
    @include mq ('md'){
        @include roundy($dim:135px);
    }
    @include mq ('lg'){
        @include roundy($dim:125px);
    }   
}

// Styling for social media icons
.social__icons{
    fill: $white;
    @include mq ('md'){
        padding: 1em;
    }
}


