// **************************************
// IMAGE STYLES
// **************************************

// .img__header--container{
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     @include flex_me($just:center);
//     height: $header-height;
//     max-height: $header-height;
//     position: relative;
//     z-index: -2;
// }

.img__banner--container{
    height: 400px;
    filter: drop-shadow(8px 8px 10px gray);
    @include flex_me($just:center);
    @include mq ('lg'){
        height: 650px;
    }
}

.img__header--container{
    height: $header-height;
    width: 100%;
    background-position: center;
    background-size: cover;
    @include flex_me($just: center);
}

.bio__img--wrapper{
    position: relative;
    width: 100%;
    border-radius: 1em 1em 0 0 ;
    z-index: 1;
    @include mq('md'){
        flex-basis: 48%; 
    }
 }

 .bio__img--wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    height: 100%;
    width: 75%;
    background: $color-secondary;
    opacity: .6;
    z-index: -1;
    border-radius: 44% 0;
    @include mq('md'){
        width: 85%;  
    }
 }

.bio__content{
    @include mq('md'){
        flex-basis: 48%; 
    }
}

.img__bio{
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
    @include mq('md'){
        height: 250px;
    }
}


.img__skill--container{
    width: 100px;
    @include flex_me($dir:column, $vertAlign:center);
    max-height: 150px;
}


//Project Card Images
.card-img-top{
    height: auto;
}

//Avatar image styling for reviews 
.img__person{
    @include roundy($dim:150px, $border: 1px solid $color-border-dark);
    z-index: 2; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
    @include mq ('md'){
        @include roundy($dim:135px);
    }
    @include mq ('lg'){
        @include roundy($dim:125px);
    }   
}

.skill-icons{
    fill: white;
    color: white;
}

.card__icons--css,
.card__icons--scss,
.card__icons--js,
.card__icons--php7,
.card__icons--wordpress{
    width: 40px;
    margin: 0 .5em;
    @include mq('md'){
        width: 60px; 
    }
}

.card__icons--js{
    fill: rgb(161, 161, 3);
    color:rgb(161, 161, 3);
   
}
.card__icons--scss{
    fill: rgb(207, 93, 188);
    color:rgb(207, 93, 188);
   
}
.card__icons--css{
    fill: rgb(52, 49, 204);
    color:rgb(52, 49, 204);
   
}
.card__icons--html5{
    fill: rgb(219, 42, 19);
    color:rgb(219, 42, 19); 
}
.card__icons--php7{
    fill: rgb(0, 0, 0);
    color:rgb(0, 0, 0); 
}
.card__icons--wordpress{
    fill: rgb(105, 105, 105);
    color:rgb(105, 105, 105); 
}

// Styling for social media icons
.footer__icons{
    fill: $white;
    @include mq ('md'){
        padding: 1em;
    }
}


