// **************************************
// LAYOUT STYLES
// **************************************

/*------FLEXBOX LAYOUT STYLES-----------*/

//flex styles
.flex__container{
  @include flex_me($dir:column, $wrap:wrap);
  &--bio, &--skills, &--references, &--contact {
    @include flex_me($dir:column, $wrap:wrap, $just:center, $vertAlign:center);
    @include mq('md'){
      @include flex_me($dir:row, $just:space-around);
      
    };
  }

  &--reviews{
    @include flex_me($wrap:wrap, $just:center, $vertAlign:center);
  } 


  &--cards{
    @include flex_me($wrap:wrap, $just:center, $vertAlign:center);
  }
 
 &--references {
   justify-content: space-around;
   width: 100%;
   padding-bottom: 1em;
   @include mq('md'){
    padding-bottom: 4em;
} 

 }
 &--contact {
   margin-bottom: 1.5em;
 }

}