// **************************************
// MAIN PAGE STYLES
// **************************************
.main__grid--container {
  overflow: hidden;
  z-index: 11;
}

/*-------Lets Get Connected Section Class Styles----------*/
.social__icon--wrapper{
  @include flex_me($just: center, $wrap:wrap);
}

.social__name {
  margin-top: -.3em;
  @include text-prop($size: 1.5em, $t-align:center, $color: $color-text-light);
}

.contact__icon--container{
  margin-bottom: 1em;
}


