// **************************************
// TYPOGRAPHY STYLES
// **************************************

//h1 styles
.title__primary {
  @include text-prop($size: 2.5em, $f-weight: 200, $t-align:center, $color: $color-text-light);
  @extend %text-modules;
  @include mq("md") {
    @include text-prop($size: 4.2em);
  }
  @include mq("lg") {
    @include text-prop($size: 5.5em); 
  }
}

//h2 styles
.title__secondary {
  @include text-prop($size: 1.5em, $f-weight: 500, $color: $color-accent, $t-align:center);
  @extend %text-modules;
  padding: 1em 0;
  &::after {
    content: "\003e";
    @extend %psuedo-sec-title;
    padding-left: 0.2em;
  }
  &::before {
    content: "\003c";
    @extend %psuedo-sec-title;
    padding-right: 0.2em;
  }
  @include mq("md") {
    @include text-prop($size: 1.3em, $l-height: 1.5);
  }
  @include mq("lg") {
    @include text-prop($size: 1.6em);
  }
}

#about__me > .title__secondary,
#references > .title__secondary{
  color: $color-main-darkest;
}

#about__me > .title__secondary,
#references > .title__secondary {
  &::after {
    content: "\003e";
    @extend %psuedo-sec-title-1;
    padding-left: 0.2em;
  }
  &::before {
    content: "\003c";
    @extend %psuedo-sec-title-1;
    padding-right: 0.2em;
  }
}

//h3 Styles
.title__tertiary {
  @include text-prop($size: 1.4em, $color: $color-accent, $t-align:center);
  margin: 1em 0 0.8em 0;
  width: 100%;
}

//h4 Styles
.title__quartiary {
  @include text-prop($size: 1.5em, $f-weight: 600, $color:$color-main);
}

//h6 Styles
.title__sixtiary {
  @include text-prop($size: 1em, $f-weight: 700, $l-height: 1, $color: $color-main-darkest);
}

/*----CONTEXT STYLES----*/

//site colors for <p> tags
.white__txt{
  color: $color-text-light;
}

.grey__text {
  color: $color-text-base;
}

// Styles for project title & content tags

.tagline {
  @include text-prop($t-align:center);
  @include mq("md") {
    @include text-prop($size:1.5em, $f-weight:600);
  }
}

.sub__title {
  @include text-prop($size:1.4em, $t-align:center, $color: $color-text-light);
  @include mq("md") {
    @include text-prop($size:2em);
  }
}

//styles for footer content
.footer__text {
  @extend %text-modules;
}


