// **************************************
// BASE STYLES
// **************************************

/*--------BASE ELEMENT STYLES--------*/
* {
    // testing styles
    box-sizing: border-box;
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

}

body{
    font-family: $font-stack-raleway;
    transition: .5s;
   
}

main{
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0f0c29, $color-bg, #0f0c29); 
}


svg{
    width: 80px;
    max-width: 250px;
    max-height: 65px;
    @include mq ('md'){
        max-height: 95px;
    }
}

hr {
    height: 3px;
    width: 20%;
    border-top: 2px solid $white    ;
}

p {
    font-family: $font-stack-raleway; 
    margin: 0;
    padding: 0 1.5em;
}

a {
    display: inline-block;
    padding: .6em;   
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s;
}

footer {
    height: $footer-height;
    background: $color-bg-darkest;
    color: $color-text-light;
}

/*-----HEADINGS------*/    
h1,
h2,
h3,
h4,
h6 {
    font-family: $font-stack-lato;
    margin: 0;
    padding: 0;
    letter-spacing: 1px; 
}




